*{
  box-sizing: border-box;
}

@font-face {
  font-family: "Corbel1";
  src: url("../fonts/ofont.ru_Corbel.ttf");
}

body{
  font-family: "Corbel1", SansSerif;

  margin: 0;
  padding: 0;
}

main{
  /*max-width: 1200px;*/
  /*margin: auto;*/
}

main section{
  padding-top: 100px;
}

@media screen and (max-width: 800px) {
  main section {
    padding-top: 20px;
  }
}

#prog, #desc, #join{
  max-width: 1200px;
  margin: auto;
}

h1{
  text-transform: uppercase;
  text-align: center;
}

svg{
  fill: #0DACBF;
}

iframe{
  max-width: 100%;
}

/*Меню*/
header{
  width: 100%;
  position: fixed;
  background: none;
  font-size: 25px;
  z-index: 100;
}

header .wrap{
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 253px;
}

#wideMenu{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

#wideMenu li{
  padding: 0 15px;
}

#wideMenu a{
  text-decoration: none;
  color: white;
}

#wideMenu a:hover{
  text-decoration: underline;
}

#menuBut{
  width: 50px;
  aspect-ratio: 1 / 1;
  border: none;
  display: none;
  cursor: pointer;
  background-color: transparent;
}

#narrowMenuWrap{
  display: none;
  height: 0px;
  overflow: hidden;
}

.menuDownAnim{
  animation: menuDown linear 300ms;
  animation-fill-mode: forwards;
}

.menuUpAnim{
  animation: menuUp linear 300ms;
  animation-fill-mode: forwards;
}

@keyframes menuDown{
  from{
    height: 0px;
  }
  to{
    height: 310px;
  }
}

@keyframes menuUp{
  from{
    height: 310px;
  }
  to{
    height: 0px;
  }
}


#narrowMenu{
  display: block;
  max-width: 1200px;
  background-color: white;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 20px 20px;

}

#narrowMenu li{
  display: block;
  background-color: lightgray;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  padding: 20px 40px;
}

#narrowMenu a{
  text-decoration: none;
  color: black;
}

#narrowMenu a:hover{
  color: #0DACBF;
}




@media screen and (max-width: 1000px){
  header{
    position: static;
  }
  #narrowMenuWrap{
    display: none;
  }
}

@media screen and (max-width: 800px){
  #wideMenu{
    display: none;
  }
  #menuBut{
    display: block;
  }
  #narrowMenuWrap{
    display: block;
  }
}



/*Верхняя часть*/
#head{
  background-image: url("../img/back_head.jpg");
  /*background-repeat: repeat-y;*/
  background-position: top;
  background-size: cover;
  color: white;
  font-size: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}

.headText{
  max-width: 680px;
  text-align: center;
}

#head button{
  padding: 25px 35px;
  border-radius: 40px;
  border: none;
  background-color: yellow;
  font-size: 25px;
  font-weight: bold;
}

#head button:hover{
  background-color: #ffef00;
  cursor: pointer;
  color: #0DACBF;
}


@media screen and (max-width: 800px) {
  #head {
    padding: 10px 0;
    min-height: unset;
  }
}

/*Секция с программой*/


#prog{
  text-align: center;
}

#prog h2{
  margin: 0;
}

.progCards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 0 2%;
}

/*Карточки*/
.center{
  /*position: relative;*/
  /*top: 135px;*/
  /*left: 135px;*/
  /*transform: translate(-50%, -50%);*/
}

.card{
  cursor: pointer;
  width: 270px;
  height: 270px;
  margin: 0 15px;
  transform: translate(-50%, -50%);

  position: relative;
  top: 135px;
  left: 11.25%;
}

.front,
.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #333333;
  padding: 0 10%;
}

.front img{
  height: 100%;
  position: absolute;
  z-index: -1;
}

.front{
  color: white;
  transform: perspective(600px) rotateY(0deg);
}

.back{
  transform: perspective(600px) rotateY(180deg);
  background-color: #f1f1f1;
}

/*.back-content{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  text-align: center;*/
/*  color: #333333;*/
/*  padding: 0 10%;*/
/*}*/



.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}



/*Карточки с результатами*/
.card1{
  max-width: 400px;
  text-align: left;
}

.progCards .card1{
  margin: 20px auto;
}

.card1 h2{
  line-height: 1em;
}

.card1 p{
  margin: 0;
}

.card1SVG{
  width: 70px;
  height: 70px;
  padding-right: 10px;
}

.card1Head{
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 800px){
  .progCards{
    flex-direction: column;
  }
  .progCards .card1{
    /*padding-left: 3%;*/
    margin: auto;
  }
  .card{
    width: 95%;
    margin: 0;
    left: 47.5%
  }
  /*.center{*/
  /*  left: 50%*/
  /*}*/
  .front img{
    width: 100%;
    height: unset;
  }
  .card1SVG{
    padding-right: 20px;
  }
  .card1 p{
    padding-left: 70px;
    position: relative;
    bottom: 40px;
  }
}


/*Секция с описанием*/
#desc{
  text-align: center;
}

#shortDesc{
  max-width: 50%;
  /*padding: 0 10px;*/
}

#longDesc{
  text-align: justify;
  padding: 0 2%;
}

#longDesc h1{
  text-align: center;
}

#moreBut{
  border: none;
  background-color: unset;
  color: blue;
  cursor: pointer;
}



@media screen and (max-width: 800px) {
  #shortDesc {
    max-width: 100%;
  }
}

/*Секция с адресом*/

#addrWrap{
  max-width: 1200px;
  margin: auto;
  padding: 0 4%;
}

#addrWrap h1{
  text-align: center;
}


/*Секция с отзывами*/

#rev{
  text-align: center;
}

#rev .progCards{
  align-items: start;
}

.revCard{
  /*border: black dotted 1px;*/
  border-radius: 10px;
  box-shadow: lightgray 0 0 10px;
  max-width: 30%;
  padding: 1% 2%;
}

.revCard img{
  width: 100px;
  border-radius: 50%;
}

.revPic{
  text-align: center;
  float: left;
  padding-right: 10px;
}

.revPic h2{
  margin: 0;
  background-color: white;
  /*border: black dotted 1px;*/
  /*border-radius: 10px;*/
}

.revCard svg{
  width: 30px;
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .revCard{
    max-width: 95%;
    margin-bottom: 20px;
  }
  #rev .progCards{
    align-items: center;
  }
}


/*Секция с записью*/

#form{
  margin: 20px auto;
  width: 95%;
  max-width: 500px;
  background-color: lightgray;
  box-shadow: #333333 0px 0px 10px;
  border-radius: 10px;
}

#fieldsetWrap{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin: 5px;*/
  padding: 20px;

}

label, #send, legend{
  font-family: "Corbel1", SansSerif;
  font-size: x-large;
}

.inputBox input{
  height: 40px;
  width: 200px;
  text-align: center;

  font-family: "Corbel1", SansSerif;
  font-size: large;
}

.inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#checkPersonal{
  font-size: small;
  margin-top: 10px;
  text-align: center;
}

#fieldsetFeedback, #send{
  margin-top: 5px;
}

#fieldsetFeedback{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




footer{
    color: #506279;
    font-size: small;
    text-align: center;
}









